/* Parte onde se altera o geral do site */
*{
    outline: none;
    list-style-type: none;
    text-decoration: none !important;
    padding-inline-start:0;
}
img{
    width: 100%;
}
.linear{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.coluna{
    margin-left:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.divisoria{
    border-bottom: 1px solid #a1a1a1;
    padding: 7px 0;
}
/* Parte onde se altera o header */

/* Parte onde se altera o topo */
.topo{
    background: #000;
    height: 50px;
    width: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top p{
    color:#fff;
    margin:0;
}
/* Parte onde se altera as redes socias */
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    width: 34px;
    height: 31px;
    margin: 10px;
    font-size: 20px;
    color:#000;
    cursor: pointer;
}
.fab:hover{
    animation-name:moveRedes;
    animation-duration: .2s; 
}
#face:hover{
    background: #3b5998;
    color:#fff;
}
#insta:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:#fff;
}
#you:hover{
    background: #c4302b;
    color:#fff;
}
/* Parte onde se altera a logo */
.logo{
    width: 350px;
}
.logo:after {
    background: #fff;
    content: '';
    height: 88px;
    left: -73px;
    opacity: .3;
    position: absolute;
    top: -3px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(.19,1,.22,1);
    width: 50px;
    z-index: 5;
}
.logo:hover:after {
    left: 94%;
    transition: all 550ms cubic-bezier(.19,1,.22,1);
}
/* Parte onde se altera o whats */

/* Parte onde se altera o menu */
nav a{
    color:#000;
}
nav a:hover{
    color:#000;
}
.lista{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.menu{
    color: #000;
    font-size: 24px;
    margin: 1px;
    padding: 20px;
    border-radius: 5px;
}
.menu:hover{
    text-shadow:1px 1px rgba(0, 0, 0, 0.42);
}
.menu:active {
    box-shadow: inset -2px 2px 3px 3px rgba(0, 0, 0, 0.42);
}
ul.border{
    margin-bottom: 0;
}
/*Parte onde se altera o banner*/
.banner{
    margin-top: 10px;
    padding-right: 0;
    padding-left: 0;
}
/*Parte onde faremos as animações*/
@keyframes moveRedes{
   0% {transform: translateX(0px);}
   25% {transform: translateX(-5px);}
   50% {transform: translateX(0px);}
   75% {transform: translateX(5px);}
   100% {transform: translateX(0px);}
}
/*Parte onde arrumaremos as resoluções*/
/* @media (min-width: 320px) {
    #face{
        background: #3b5998;
        color:#fff;
    }
    #insta{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        color:#fff;
    }
    #you{
        background: #c4302b;
        color:#fff;
    }
} */
@media (min-width: 1920px) {
    .container{
        width: 1920px;
    }
}
@media (min-width: 2560px) {
    .container{
        width: 2560px;
    }
}