/* Parte onde se altera o geral do site */
*{
    outline: none;
    list-style-type: none;
    text-decoration: none !important;
    padding-inline-start:0;
}
img{
    width: 100%;
}
.linear{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.coluna{
    margin-left:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.divisoria{
    border-bottom: 1px solid #a1a1a1;
    padding: 7px 0;
}
.titulo{
    text-align: center;
    text-shadow:1px 1px rgba(0, 0, 0, 0.42);
}
/* Parte onde se altera o header */

/* Parte onde se altera o topo */
.topo{
    background: #000;
    height: 50px;
    width: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top p{
    color:#fff;
    margin:0;
    padding-left: 10%;
}
/* Parte onde se altera as redes socias */
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    width: 34px;
    height: 31px;
    margin: 10px;
    font-size: 20px;
    color:#000;
    cursor: pointer;
}
#face:hover{
    background: #3b5998;
    color:#fff;
}
#insta:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:#fff;
}
#you:hover{
    background: #c4302b;
    color:#fff;
}
#face:hover .fab{
    animation-name:moveRedes;
    animation-duration: .2s; 
}
#insta:hover .fab{
    animation-name:moveRedes;
    animation-duration: .2s; 
}
#you:hover .fab{
    animation-name:moveRedes;
    animation-duration: .2s; 
}
/* Parte onde se altera a logo */
.logo{
    width: 350px;
}
.logo:after {
    background: #fff;
    content: '';
    height: 88px;
    left: -73px;
    opacity: .3;
    position: absolute;
    top: -3px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(.19,1,.22,1);
    width: 50px;
    z-index: 5;
}
.logo:hover:after {
    left: 94%;
    transition: all 550ms cubic-bezier(.19,1,.22,1);
}
/* Parte onde se altera o whats */

/* Parte onde se altera o menu */
nav a{
    color:#000;
}
nav a:hover{
    color:#000;
}
.lista{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.burguer{
    display:none;
}
.menu{
    color: #000;
    font-size: 24px;
    margin: 1px;
    padding: 20px;
    border-radius: 5px;
}
.menu:hover{
    text-shadow:1px 1px rgba(0, 0, 0, 0.42);
}
.menu:active {
    box-shadow: inset -2px 2px 3px 3px rgba(0, 0, 0, 0.42);
}
.border{
    margin-bottom: 0;
}
.x{
    display: none;
}
/*Parte onde se altera o banner*/
.banner{
    margin-top: 10px;
    padding-right: 0;
    padding-left: 0;
}
/*Parte onde se altera os produtos*/
.produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.produtotitulo:after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 42px;
    background: linear-gradient(45deg, black, transparent);
    transition: width 0.5s;
    top: 200px;
    border-radius: 10px;
}
.rodaforro{
    width: 200px;
    align-self: center;    
    z-index: -2;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    border: 2px solid #756d6d;
    border-radius: 10px;
    margin: 30px 20px;
    height: 450px;
    transition: .5s;
}
.conteudo:hover {
    box-shadow: 8px 3px 3px 3px rgba(0, 0, 0, 0.42);
    transition: .5s;
}
.conteudo:hover .produtotitulo{
    color: #fff;
}
.conteudo:hover .produtotitulo:after{
    width: 91%;
    z-index: -1;
}
.conteudo:hover .btnProduto{
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.42);
    transition: .5s;
}
.conteudo:hover .btnProduto:active {
    box-shadow: none;
}
.conteudo p{
    overflow: auto;
    margin-top: 10px;
}
.conteudo p::-webkit-scrollbar{
    width: 10px;
}
.conteudo p::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,transparent,black);
    border-radius: 10px;
}
.btnProduto {
    background: linear-gradient(45deg, black, transparent);
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.42);
    margin: 10px 0 20px 0;
    height: 30%;
    width: 60%;
    align-self: center;
}
.btnProduto:after {
    background: #fff;
    content: '';
    height: 52px;
    left: 10%;
    opacity: .2;
    position: absolute;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(.19,1,.22,1);
    width: 3%;
    z-index: 5;
    bottom: 3%;
}
.btnProduto:hover:after {
    left: 82%;
    transition: all 550ms cubic-bezier(.19,1,.22,1);
}
/*Parte onde faremos as animações*/
@keyframes moveRedes{
   0% {transform: translateX(0px);}
   25% {transform: translateX(-5px);}
   50% {transform: translateX(0px);}
   75% {transform: translateX(5px);}
   100% {transform: translateX(0px);}
}
/*Parte onde arrumaremos as resoluções*/
@media (max-width:768px){
    .linear{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topo{
        height: auto;
    }
    .top{
        flex-wrap: wrap-reverse;
    }
    .lista{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        color: #fff;
    }
    .menu:hover {
        text-shadow: 1px 1px rgb(255, 255, 255);
        color: #fff;
    }
    .menu:active{
        box-shadow: none;
    }
    .border{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .redes{
        justify-content: center;
        padding-right: 20%;
    }
    .titulo h1{
        font-size: 27px;
    }
    .titulo h2{
        font-size: 24px;
    }
    .produtos{
        flex-wrap: wrap;
    }
    #face{
        background: #3b5998;
        color:#fff;
    }
    #insta{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        color:#fff;
    }
    #you{
        background: #c4302b;
        color:#fff;
    }
    .menus{
        display: none;
    }
    .menuMobile.x{
        display: block;
    }
    .burguer{
        position: absolute;
        width: 56px;
        height: 10%;
        right: 10px;
        top: 10px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #a1a1a1;
        border-radius: 10px;
        background: 0 0;
        padding: 0;
        z-index: 5;
    }
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .animated-icon3 span {
        background: #f3e5f5;
    } 
    .animated-icon3 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }  
    .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
        
    .animated-icon3 span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        }
        
    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
        left: 5px;
    }
        
    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
        
    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 4px;
    }   
}
@media (width:320px){
    .top p{
        padding-left: 0;
    }
}
@media (width:768px){
    .top p{
        padding-left: 190px;
    }
}
@media (min-width: 1920px) {
    .container{
        width: 1440px;
    }
}
@media (min-width: 2560px) {
    .container{
        width: 1440px;
    }
}
 